/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1124ff;
  --ifm-color-primary-dark: #0014f5;
  --ifm-color-primary-darker: #0012e7;
  --ifm-color-primary-darkest: #000fbe;
  --ifm-color-primary-light: #2c3dff;
  --ifm-color-primary-lighter: #3a4aff;
  --ifm-color-primary-lightest: #636fff;
}

[data-theme='dark'] {
  --ifm-color-primary: #97a0ff;
  --ifm-color-primary-dark: #6e7bff;
  --ifm-color-primary-darker: #5a68ff;
  --ifm-color-primary-darkest: #1d31ff;
  --ifm-color-primary-light: #c0c5ff;
  --ifm-color-primary-lighter: #d4d8ff;
  --ifm-color-primary-lightest: #ffffff;
}